<%- include('layout.ejs') %>

<div class="card">
  <div class="card-header">
    <h3>Update Appointment</h3>
  </div>
  <div class="card-body">
    <form action="/api/appointments/update/<%= appointment._id %>" method="POST">
      <!-- Este campo permite que method-override trate la solicitud como PUT -->
      <input type="hidden" name="_method" value="PUT">
      
      <!-- Token CSRF -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 

      <div class="mb-3">
        <label for="patient" class="form-label">Patient Name</label>
        <input type="text" class="form-control" id="patient" name="patient" 
               value="<%= appointment.patient ? appointment.patient.username : '' %>" >
      </div>

      <div class="mb-3">
        <label for="doctor" class="form-label">Doctor Name</label>
        <input type="text" class="form-control" id="doctor" name="doctor" 
               value="<%= appointment.doctor ? appointment.doctor.username : '' %>" >
      </div>

      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="datetime-local" class="form-control" id="date" name="date" value="<%= appointment.date ? new Date(appointment.date).toISOString().slice(0, 16) : '' %>" required>
      </div>

      <div class="mb-3">
        <label for="reason" class="form-label">Reason</label>
        <textarea class="form-control" id="reason" name="reason" value="<%= appointment.reason %>" required></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Update Appointment</button>

    </form>
  </div>
</div>

