<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Patient</title>
</head>
<body>
  <h1>Update Patient</h1>
  <form id="patientForm" action="/api/patients/<%= patient._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= patient.name %>" required>
    <br>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" value="<%= patient.age %>" required>
    <br>
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender" value="<%= patient.gender %>" required>
    <br>
    <label for="medicalHistory">Medical History:</label>
    <input type="text" id="medicalHistory" name="medicalHistory" value="<%= patient.medicalHistory %>" required>
    <br>
    <button type="submit">Update Patient</button>
  </form>
</body>
</html>
